.container-fluid {
    margin: 0;
    padding: 0;
}

.col-lg-7 {
    margin: 0;
    padding: 0;
}

.col-lg {
    margin: 0;
    padding: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

body {
    background-image: url("../img/С4_background_07.jpg");
}

#blitzlogo {
    margin-left: 2%;
}

#boards{
    margin-top: 50%;
}

.col-xl-10.table7{
    margin-top: 10%;

}

.breadcrumb{
    margin-top: 10%;
}
.phone{
    background-color: rgba(22, 3, 25, .95);
    color: white;
}

.text-muted{
    color: black;
}