 {% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    С4 Достижения
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styleshit.css">

</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>

        <div class="col-xl-10 table7">
            <img src="../static/img/asks.jpg" class="w-100" style="border-radius: 10px">
           <p><b>C4 - самая титулованная команда в RU-регионе, чемпион Blitz Twister Cup 2016 в Нью-Йорке, вице-чемпион Blitz Twister Cup 2017 в Минске. Все остальные трофеи можно посмотреть <a href="/achievements">здесь</a>.</b></p>
            <table class="table table-inverse">
                <thead class="thead phone">
                    <tr class="btc">
                        <th></th>
                        <th>1 место</th>
                        <th>2 место</th>
                        <th>3 место</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="thead phone">League Glafi "Жаркий май"</th>
                    <td></td>
                    <td>С4 🏆</td>
                </tr>
                <tr><th class="thead phone">Экспресс Турнир от RuClans</th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Турнир от RuClans "Клановый вызов"</th>
                    <td></td>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">League Glafi "Summer Cup" игры PRO vs STAR</th>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">League Glafi "Summer Cup" STAR-дивизион</th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Отборочный этап "Blitz Twister Cup 2016"</th>
                    <td>С4 🏆</td>
                    <td>Face2Face 🏆</td></tr>
                <tr><th class="thead phone">Онлайн-финал "Blitz Twister Cup"</th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Оффлайн-финал "Blitz Twister Cup" в Нью-Йорке</th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Турнир "WG Fest: Квалификация"</th>
                    <td></td>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">Турнир "Операция "Новый Год"</th>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">Турнир "Новый старт: Противостояние"</th>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">League Glafi "FGWL"</th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Турнир "Июньский Гром"</th>
                    <td></td>
                    <td>С4 🏆</td></tr>
                <tr><th class="thead phone">Онлайн-финал "Blitz Twister Cup2017" </th>
                    <td>С4 🏆</td>
                    <td></td></tr>
                <tr><th class="thead phone">Турнир "Огневая поддержка"</th>
                    <td>Face2Face 🏆</td>
                    <td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>




