<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- CSS Styleshit -->
    <link rel="stylesheet" href="../static/css/styleshit.css">
</head>
<body>
<div class="container-fluid">
      <div class="row">
          <div class="col-xl-12">
              <nav class="navbar navbar-expand-lg fixed-top navbar-dark" role="navigation" style="background-color: rgba(22, 5, 23, .95)">
              <div class="col-xl">
              </div>

              <div class="col-xl-11">
                  <nav class="navbar navbar-expand-lg navbar-dark" role="navigation" style="background-color: rgba(22, 5, 23)">

                          <div class="col-xl-12">
                               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                               </button>
                               <div class="collapse navbar-collapse" id="navbarNav">
                                   <a href="https://vk.com/c4_wotblitz" class="navbar-brand">
                                  <img src="../static/img/vk_logo.png" width="49" height="32" id="vk_logo">
                              </a>
                              <a href="/" class="navbar-brand">
                                  <img src="../static/img/c4_white.png" width="39" alt="logo" id="c4_white">
                              </a>

                              <a href="https://www.instagram.com/c4wotblitz/" class="navbar-brand">
                                  <img src="../static/img/Instagram_icon.png" width="36" id="instagram_logo">
                              </a>
                              <a href="https://wotblitz.ru" class="navbar-brand" id="blitzlogo">
                                  <img src="../static/img/blitz_logo.png" width="27" id="wotblitz_logo">
                              </a>
                                   <ul class="navbar-nav mr-auto">
                                      <li class="nav-item active">
                                          <a class="nav-link" href="/">Главная<span class="sr-only">(current)</span></a>
                                      </li>
                                       <li class="nav-item">
                                          <a class="nav-link" href="/news">Новости</a>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="/discuss">Обсуждения</a>
                                      </li>
                                       <li class="nav-item dropdown">
                                           <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Мы</a>
                                           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                               <div class="dropdown-divider"></div>
                                               <a class="nav-link dropdown-toggle" href="/teams" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Команды</a>
                                               <div class="dropdown-submenu" aria-labelledby="navbarDropdownMenuLink">
                                                   <div class="dropdown-divider"></div>
                                                   <a href="/teams/c4" class="dropdown-item">С4</a>
                                                   <a href="/teams/face2face" class="dropdown-item">Face2Face</a>
                                                   <a href="/teams/isopromat" class="dropdown-item">iSopromat</a>
                                               </div>
                                               <div class="dropdown-divider"></div>
                                               <a class="dropdown-item" href="/achievements">Достижения</a>
                                               <div class="dropdown-divider"></div>
                                               <a class="dropdown-item" href="#">Как к нам попасть?</a>
                                               <div class="dropdown-divider"></div>
                                           </div>
                                      </li>
                                      <li class="nav-item">
                                          <a class="nav-link" href="/product">Продукция</a>
                                      </li>
                                   </ul>
                                   <form class="form-inline my-2 my-xl-0">
                                      <input class="form-control mr-xl-2" type="search" placeholder="Поиск по сайту" aria-label="Search">
                                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                                   </form>
                               </div>
                          </div>
                  </nav>
              </div>

              <div class="col-xl">
              </div>

              </nav>
          </div>
      </div>

  </div>
    {% block body %}
    {% endblock %}


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="../static/script/script.js"></script>

</body>
</html>