 {% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    Face2Face
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styleshit.css">

</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>

        <div class="col-xl-10 table7">
            <p class="face2face">Face2Face</p>
            <div class="row">
                <div class="col-xl-6">
                    <table class="table table-inverse">
                        <thead class="thead phone">
                            <tr class="btc">
                                <th></th>
                                <th>Face2Face</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="thead phone">Капитан</th>
                                <td>KyKaPeK</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Andrian1234567</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Perfect_M1nd</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>dmitriy_inside</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>BF2_DimAS_23RUS</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>f0gg1k</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>TloJIoCbl</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>KPaCHblY_FeNiX</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Feroxy</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Vrataski_f2f</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Slava_Levshenko_1999</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xl-6">
                     <p><b>Весьма опытная команда, костяк которой перешёл когда-то из клана PHOENIX[-PX-]. Впоследствие часть игроков отсоединилась от команды, кто-то даже участвовал в Blitz Twister Cup 2016 в Нью-Йорке.</p> <p> После 2-го места в
                оффлайн-финале отборов на BTC 2016 команда взяла несколько трофеев, которые можно посмотреть, перейдя <a href="/achievements">сюда</a>. Сейчас парни регулярно представляют команду на различного рода соревнованиях, их игры часто стримит
                Perfect_M1nd.</b></p>
                </div>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
