 {% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    С4
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styleshit.css">

</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>

        <div class="col-xl-10 table7">
            <img src="../static/img/teamphoto.jpeg" class="w-100" style="border-radius: 10px">
            <p>*На фото слева направо: Lord Vladius, SevenMinutes, Pingver, Swarov5ki, iLucique, M1lk__, ufpnjh</p><p><b>C4 - самая титулованная команда в RU-регионе, чемпион Blitz Twister Cup 2016 в Нью-Йорке, вице-чемпион Blitz Twister Cup 2017 в Минске. Все остальные трофеи можно посмотреть <a href="/achievements">здесь</a>.</b></p>
            <table class="table table-inverse">
                <thead class="thead phone">
                    <tr class="btc">
                        <th></th>
                        <th>BTC 2016</th>
                        <th>BTC 2017</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <th class="thead phone">Капитан</th>
                    <td>Swarov5ki</td>
                    <td>Swarov5ki</td>
                </tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>_I_S_H_O_D_</td>
                    <td>Lord Vladius</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>Pingver</td>
                    <td>Pingver</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>dmitriy_inside</td>
                    <td>SevenMinutes</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>ProSkillW0TB</td>
                    <td>M1lk__</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>XBaTuT_3_MuHyT</td>
                    <td>ufpnjh</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>JJOSKEY</td>
                    <td>Sana_Minatozaki</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>f0gg1k</td>
                    <td>eSHappyEndSe</td></tr>
                <tr><th class="thead phone">Игрок</th>
                    <td>Perfect_M1nd</td>
                    <td>iLucique</td></tr>
                </tbody>
            </table>
        </div>

        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>




