{% extends 'base_discuss.html' %}
{% load static %}<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">


    {% block title %}
    {{ board.name }}
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styleshit.css">
</head>
<body>
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item"><a href="{% url 'board_topics' %}">Boards</a></li>
        <li class="breadcrumb-item active">{{ board.name }}</li>
     </ol>

{% block content %}

{% endblock %}
</body>
</html>