<!DOCTYPE html>
<html lang="en">
<head>

    {% extends 'base_discuss.html' %}

    {% block title %}
    C4 Обсуждение
    {% endblock %}
    <link rel="stylesheet" href="../static/css/styleshit.css">

</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>

        <div class="col-xl-10 table7">
            {% block breadcrumb %}

          {% endblock %}

            {% block content %}
          <table class="table table-inverse">
            <thead class="thead phone">
              <tr>
                <th>Board</th>
                <th>Posts</th>
                <th>Topics</th>
                <th>Last Post</th>
              </tr>
            </thead>
            <tbody>
              {% for board in boards %}
                <tr>
                  <td>
                      <a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a>
                    <small class="text-muted d-block">{{ board.description }}</small>
                  </td>
                  <td class="align-middle">0</td>
                  <td class="align-middle">0</td>
                  <td></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
            {% endblock %}
        </div>

        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
