<!doctype html>
<html lang="en">
  <head>

    {% extends 'base.html' %}

    {% block title %}
    Арманика Глушители
    {% endblock %}

  </head>
  <body>



  {% block body %}

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #36404b";>
      <a href="#" class="navbar-brand">
          <img src="static/img/armanika_logo.png" width="350px" height="80px" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupport">
          {% comment %}<span class="navbar-toggler-icon"></span>{% endcomment %}

      </button>
  </nav>
    <h1>Hello, world!</h1>

  {% endblock %}



  </body>
</html>