.container-fluid {
    margin: 0;
    padding: 0;
}

.col-lg-7 {
    margin: 0;
    padding: 0;
}

.col-lg {
    margin: 0;
    padding: 0;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 50px;
    width: 50px;
}

body {
    background-image: url("/static/img/С4_background_07.jpg");
}


#boards{
    margin-top: 60%;
}

.col-xl-10.table7{
    margin-top: 10%;
}

.breadcrumb{
    margin-top: 10%;
}
.phone{
    background-color: rgba(22, 3, 25, .95);
    color: white;
}

.text-muted{
    color: black;
}

.dropdown-menu{
    background-color: rgba(22, 3, 25, .95);
}

.dropdown-item{
    color: white;
}

p{
    font-size: large;
    color: rgba(22, 3, 25, 1)
}

.btc{
    color: white;
}
tr{
    color: rgba(22, 3, 25, .95);
}

.face2face{
    font-size: 100px;
    text-align: center;
}

.news{
    margin-top: 20%;
 }

.product{
    font-size: 25px;
}

.colorblack{
    color: black;
}

.button{
    background-color: rgba(22, 3, 21, 1);
    color: white;
}
.button:hover{
    background-color: white;
    color: rgba(22, 3, 21, 1);
}