{% extends 'base.html' %}
{% block title %}Django Boards{% endblock %}
{% block body %}
    <div class="container" style="margin-top: 7%">

        <ol class="breadcrumb my-4" style="background-color: gainsboro;">
          {% block breadcrumb %}
          {% endblock %}
        </ol>

        <div class="jumbotron" style="background-color: rgba(220, 220, 220, .65); padding-top: 3%; padding-bottom: 2%;">
            {% block content %}
            {% endblock %}
        </div>

    </div>
{% endblock %}
