{% extends 'base_discuss.html' %}

{% block title %}Изменение ответа{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    var simplemde = new SimpleMDE();
  </script>
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a style="color: black" href="{% url 'discuss' %}">Обсуждения</a></li>
  <li class="breadcrumb-item"><a style="color: black" href="{% url 'board_topics' post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
  <li class="breadcrumb-item"><a style="color: black" href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}">{{ post.topic.subject }}</a></li>
  <li class="breadcrumb-item active">Изменение ответа</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Сохранить изменения</button>
    <a href="{% url 'topic_posts' post.topic.board.pk post.topic.pk %}" class="btn button" role="button">Отмена</a>
  </form>
{% endblock %}