{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>



    {% block title %}
    C4 Главная
    {% endblock %}
  </head>
  <body>



  {% block body %}
   <div class="container-fluid">
        <div class="row">
            <div class="col-xl">
            </div>

{#            <div class="col-xl-10">#}
{#                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">#}
{#                    <ol class="carousel-indicators">#}
{#                        <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>#}
{#                        <li class= data-target="#carouselExampleIndicators" data-slide-to="2"></li>#}
{#                        <li class= data-target="#carouselExampleIndicators" data-slide-to="3"></li>#}
{#                    </ol>#}
{#                    <div class="carousel-inner">#}
{#                        <div class="carousel-item active">#}
{#                            <img src="../static/img/IZ3A1022_1049x699.jpg" alt="" class="d-block w-100">#}
{#                        </div>#}
{#                        <div class="carousel-item">#}
{#                            <img src="../static/img/asks.jpg" alt="" class="d-block w-100">#}
{#                        </div>#}
{#                        <div class="carousel-item">#}
{#                            <img src="../static/img/twister_cup.png" alt="" class="d-block w-100">#}
{#                        </div>#}
{#                    </div>#}
{#                    <a href="#carouselExampleIndicators" class="carousel-control-prev" role="button" data-slide="prev">#}
{#                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Прошлый</span>#}
{#                    </a>#}
{#                    <a href="#carouselExampleIndicators" class="carousel-control-next" role="button" data-slide="next">#}
{#                        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                        <span class="sr-only">Следующий</span>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}

            <div class="col-xl">
            </div>
        </div>
   </div>

  {% endblock %}



  </body>
</html>