{% extends 'base.html' %}

{% block title %}Успешно!{% endblock %}

{% block body %}
    <div class="row justify-content-center" style="margin-top: 10%">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <div class="alert alert-success" role="alert">
                        <strong>Получилось!</strong> Пароль успешно изменён!
                    </div>
                    <a href="{% url 'homepage' %}" class="btn btn-dark">Главная страница</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}