{% extends 'base.html' %}

{% block title %}
  {% if validlink %}
    {{ form.user.username }}, пароль изменён
  {% else %}
    Смена пароля
  {% endif %}
{% endblock %}

{% block body %}
  <div class="row justify-content-center" style="margin-top: 10%">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card">
        <div class="card-body">
          {% if validlink %}
            <h3 class="card-title">Смена пароля у @{{ form.user.username }}</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-dark btn-success btn-block">Изменить пароль</button>
            </form>
          {% else %}
            <h3 class="card-title">Смена пароля</h3>
            <div class="alert alert-danger" role="alert">
              Похоже, ссылка неправильная. Пройдите процедуру заново.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-dark btn-block">Отправить новую ссылку</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}