{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block body %}
  <div class="row justify-content-center" style="margin-top: 10%">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Смена пароля</h3>
          <p>Проверьте вашу электронную почту на наличие письма о смене пароля. Если оно не пришло в течение нескольких минут, проверьте папку Спам.</p>
          <a href="{% url 'login' %}" class="btn btn-dark btn-block">Верхнуться к входу</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}