 {% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block title %}
    iSopromat
    {% endblock %}

</head>
<body>
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xl">
        </div>

        <div class="col-xl-10 table7">
            <p class="face2face">iSopromat</p>
            <div class="row">
                <div class="col-xl-6">
                    <table class="table table-inverse">
                        <thead class="thead phone">
                            <tr class="btc">
                                <th></th>
                                <th>Face2Face</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="thead phone">Капитан</th>
                                <td>Berformert</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>miha100500</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>KaRtbl_DeNbGu_Dva_STvoLa</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>KPACHOE_TTJIAM9I</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>_SkiIIoid_</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>gary_2014</td>
                            </tr>
                            <tr><th class="thead phone">Игрок</th>
                                <td>Alex_Barsov1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-xl-6">
                     <p><b>iSopromat - относительно новая команда в С4. Ребята перешли к нам из клана FROM, где начали свой киберспортивный путь. Крайне перспективная команда, за чьим развитием наблюдать крайне интересно. Иногда, смотря их игры, задаешься вопросом: "А смогут ли они преодолеть себя и выйти на междунордный уровень?". Результат покажет лишь время.
                     </b></p>
                </div>
            </div>
        </div>
        <div class="col-xl">
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>
